<div class="nested-fields">

  <div class="form-group">
    <div class="col-xs-4">
      <%= f.file_field :attachment, :class => 'form-control' %>
      <%= f.object.attachment.file.original_filename if f.object.attachment.file %>
    </div>
  </div>
</div>